@import '~/stylesheets/common/_shared.scss';

.article-social-bottom {
  display: flex;
  justify-content: center;
  flex-direction: column;

  h3 {
      color: #35312E;
      font-family: 'TT Norms';
      font-weight: 400;
      text-align: center;
  }
  .share-this-story {
    order: 1;
    margin-bottom: 8px;
  }

  .share-buttons{
    order: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .social-sharing-button-wrapper {
    display: inline-flex;
    margin-top: 8px;
  
    .btn-social-sharing {
      cursor: pointer;
      height: 48px;
      width: 334px;
      outline: none;
      text-decoration: none;
    }
  }
}
