@import '~/stylesheets/common/_shared.scss';

.mobile-menu {
  background: #35312e;
  max-width: 100vw;
  padding: 0 1.5rem;
  height: 4rem;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: space-between;
  line-height: 1.5;
  z-index: 1000;
  font-family: 'TT Norms';

  &__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    &__toggler {
      flex-basis: 25%;
      cursor: pointer;

      span {
        border: 2px solid #fff;
        width: 2rem;
        margin-bottom: 5px;
        display: block;
        transition: all 0.5s;
      }
    }

    &__logo {
      flex-basis: 50%;
      display: flex;
      justify-content: center;

      img {
        height: 16px;
        width: 125px;
        object-fit: cover;
      }
    }

    &__newsletter-signup {
      flex-basis: 25%;
      display: flex;
      justify-content: center;
      span{
        &:focus{
          outline: none;
        }
      }
      &__subscribe-box {
        padding-right: 13rem;

        &--trigger {
          background: transparent;
          border: none;
          outline: none;
          color: #ffffff;
          display: flex;
          width: 3.5rem;
          justify-content: space-between;
          align-items: center;
          text-decoration: none;
        }
      }
    }
  }
}

.sidebar-nav-wrapper {
  background: #35312e;
  color: #fff;
  font-family: 'TT Norms';
  .sidebar-header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 64px;
    position: relative;
    .btn-sidebar-close {
      color: #fff;
      position: absolute;
      top: 13px;
      left: 6px;
      font-size: 27px;
      line-height: 27px;
      background: transparent;
      border: 0 none;
    }
  }
  .sidebar-nav {
    width: 80vw;
    max-width: 350px;
    .sidebar-nav-list {
      margin: 0;
      padding: 0;
      list-style: none;
      .sidebar-nav-item {
        margin: 4px 0;
      }
      a {
        color: #fff;
        text-decoration: none;
        display: block;
        padding: 6px 1rem;
      }
      .sidebar-nav-list {
        .sidebar-nav-item {
          a {
            padding: 4px 1rem 4px 2rem;
          }
        }
      }
    }
  }
}

@keyframes slide-down {
  0% {
    transform: translateY(-150%);
    opacity: 0.2;
  }

  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}

@keyframes slide-down-container {
  0% {
    transform: translateY(-20%);
    opacity: 0.2;
  }

  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}

@keyframes slide-up-container {
  0% {
    transform: translateY(0%);
    opacity: 1;
  }

  100% {
    transform: translateY(-10%);
    opacity: 0.01;
  }
}

@keyframes reveal {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
