@import '~/stylesheets/common/_shared.scss';

.pent-tile-view {
    display: flex;
    flex-direction: column;
    font-family: 'TT Norms';

    &__large-display {
      //width: 60vw;
      // display: flex;
    }
    &__small-display {

    }
    .heading-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        align-content: center;
        justify-content: center;
        margin-bottom: 2rem;
        h2 {
            font-family: 'TT Norms';
            font-style: normal;
            font-weight: 500;
            font-size: 1.5rem !important;
            order: 1;
            text-align: center;
        }
    }


    .tile {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .tile .small-card .small-card-mobile {
        margin-bottom: 30px;
    }

    .row-big{
        order: 2;
        display: flex;
        flex-direction: row;
        margin-bottom: 57px;
        justify-content: space-around;
    }

    .row-small{
        order: 3;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-content: center;
        justify-content: space-around;
    }

    .tile-category{
        font-size: 12px;
        font-weight: 500;
        letter-spacing: 1px;
        line-height: 15px;
        min-height: 18px;
    }

    .tile-title {
        font-weight: 400;
        margin-bottom: 52px;
        font-size: 16px;
        line-height: 20px;
    }

    .big-card {
        line-height: 28px;
        margin-right: 35px;

        a {
            display: inline-block;
            max-width: 25vw;
            text-decoration: none;
            color: black;
        }

        .title .tile-card {
            max-width: 25vw;
        }

        img.img-fluid {
            max-width: 25vw;
            min-height: 20vw;
            object-fit: cover;
        }

        .tile-category{
            margin: 17px 0 10px 0;
        }

        .tile-title {
            font-size: 20px;
        }
    }

    .small-card {
        font-size: 14px;
        line-height: 20px;
        margin-right: 40px;

        a {
            display: inline-block;
            width: 16vw;
            text-decoration: none;
            color: black;
          }

        .title .tile-card {
            width: 16vw;
        }

        img.img-fluid {
            width: 16vw;
            height: 13.5vw;
            object-fit: cover;
        }


        .tile-category{
            margin: 11px 0 10px 0;
        }
    }

    .small-card-mobile {
        height: auto;
        margin: 1.5rem 0px;
        font-family: 'TT Norms';
        font-size: 16px;
        line-height: 22px;
        width: 97.5vw;
        max-width: 375px;
        padding: 0 .5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 10px;
        

        a {
            text-decoration: none;
            color: black;
          }

        .tile-img {
            width: 300px;
            height: 175px;

            @media (max-width: 360px) {
                width: 250px;
            }

        }

        img.img-fluid {
            width: 300px;
            height: 169px;
            object-fit: cover;

            @media (max-width: 360px) {
                width: 250px;
                height: 141px;
            }

        }

        .desc {
            width: 300px;;
            height: auto;
            max-height: 90px;
            display: flex;
            flex-direction: column;

            @media (max-width: 360px) {
                width: 250px;
            }
        }

        .tile-category{
            margin: 0 0 10px 0;
        }

    }

    .title:after {
        content:"";
        display: inline-block;
        height: 0.5em;
        vertical-align: bottom;
        width: 100%;
        margin-right: -100%;
        margin-left: 10px;
        border-top: 1px solid black;
    }
}
