@import '~/stylesheets/common/_shared.scss';

.top-stories-sponsored-stories {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  @include grid-media($blavity-grid-desktop-configuration) {
    align-items: stretch;
  }

  .items {
    margin: 16px 10px;
    width: 95%;
  }
}
