@import '~/stylesheets/common/_shared.scss';

.top-stories-carousel {
    padding: 1.25rem;
    font-family: "TT Norms";
    display: flex;
    flex-direction: row;
    max-width: 100vw;
    overflow-x: scroll;
    &__caraousal-header {
      width: 100%;
      display: flex;
      justify-content: center;
      position: absolute;
      bottom: 42%;
      height: 50px;
      padding-left: 2.7rem;
      z-index: 1;

      &__logo {
        width: 211px;
        height: 16px;
        background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(255, 255, 255, 0));
        padding-top: 30px;
      }
    }

    &__middle-data {


      &__snap-3 {
        text-align: center;
        height: 512px;
        max-width: 100vw;
        position: relative;

        &_img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }

        &__news {
          padding: 40px 25px 30px;
          text-align: left;
          color: white;
          background: linear-gradient(rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.8), black, black, black);
          position: absolute;
          bottom: 0;
          height: 290px;
          &_img {
            width: 48px;
            height: 48px;
            margin-bottom: 10px;
            img {
              border-radius: 2px;
            }
          }
          &_p {
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 4;
            overflow: hidden;
            line-height: 1.35;
            text-overflow: ellipsis;
            height: 110px;
            margin-top: 2px;
            font-size: 21px;
            margin-bottom: 2px;
            text-align: center;
            font-weight: 300;
            a {
              color: #fff;
              text-decoration: none;
            }
          }
          &_label {
            font-size: 14px;
            display: block;
            text-align: center;
            margin-top: 15px;
            a {
              color: #fff;
              text-decoration: none;
            }
          }
        }
      }
    }

    .slick-prev,
    .slick-next {
      display: none !important;
    }
   .slick-slide {
     padding: .25rem;
     margin: .25rem;
   }
   .slick-slider {
     overflow: hidden;
   }
  }
