@import '~/stylesheets/common/_shared.scss';

body.page-article {
  max-width: 100vw;
  overflow-x: hidden;
  .page-content {
    padding-top: 24px;

    .container {
      padding-left: 0rem;
      padding-right: 0rem;
    }

    .advertisement {
      text-align: center;
      margin-bottom: 40px;

      &:before {
        font-family: 'TT Norms';
        font-style: normal;
        font-weight: 500;

        content: 'advertisement';
        display: block;
        font-size: .75rem;
        line-height: 16px;
        margin-bottom: 8px;
        text-transform: capitalize;
      }
    }

    .article-body {
      max-width: 100%;
      overflow: hidden;

      .advertisement {
        border-bottom: 1px solid rgba(#35312E, .25);
        border-top: 1px solid rgba(#35312E, .25);
        padding: 22px 0;
      }

      .article-social-bottom {
        margin: 35px 1rem 40px;
      }

      .article-comments {
        margin: 0 1rem 27px;
      }
    }

    .article-body-block {
      max-width: 90vw;
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      .twitter-tweet {
        align-self: center;
        .EmbeddedTweet--cta .EmbeddedTweet-tweet {
          text-align: center;
          margin: 0 auto;
        }
      }

      .iframe-center {
        display: flex;
        align-content: center;
        align-self: center;
        @include grid-media($blavity-grid-default-configuration) {
          width: 365px;
          height: 365px;
          max-width: 100vw;
        }
      }

      img {
        object-fit: contain;
        align-self: center;
      }

      a {
        display: inline-flex;
        text-decoration: none;
      }

      figure {
        margin: 0;
      }

      div,
      figure,
      img {
        max-width: 100%;
      }

      p {
        font-family: 'TT Norms';
        font-style: normal;
        font-weight: 400;

        margin: 0 0 16px;
        padding: 0;

        @include grid-media($blavity-grid-default-configuration) {
          font-size: 1rem;
          line-height: 1.625rem;
        }
      }
    }

    .article-body-block-wrapper:first-of-type {
      .article-body-block:first-child  {
        p:first-of-type:first-letter {
          font-size: 42px;
          line-height: 60px;
        }
      }
    }
    .tags {
      color: #FF542F;
      font-family: "TT Norms";
      font-size: 1.25rem;
      font-weight: 500;
      line-height: 36px;
      display: flex;
      flex-wrap: wrap;
      margin: 0 1rem 27px;

      ::after {
        content: ", ";
        color: black;
        white-space: pre;
      }

      :last-child:after {
        content: '';
      }
    }

    .article-most-popular {
      .sub-title {
        font-family: 'TT Norms';
        font-style: normal;
        font-weight: 400;

        border-bottom: 2px solid #35312E;
        font-size: 24px;
        line-height: 40px;
        margin-bottom: 22px;
        padding-bottom: 13px;
        text-transform: capitalize;
      }

      .articles-container {
        counter-reset: counter;
        list-style: none;
        margin: 0;
        padding: 0;

        li {
          border-bottom: 1px solid rgba(#35312E, .25);
          counter-increment: counter;
          display: flex;
          margin-bottom: 24px;
          padding-bottom: 25px;

          &:before {
            font-family: 'TT Norms';
            font-style: normal;
            font-weight: 500;

            content: counter(counter) ". ";
            font-size: 1.5rem;
            line-height: 32px;
            margin-right: 16px;
          }

          a {
            font-family: 'TT Norms';
            font-style: normal;
            font-weight: 400;

            color: #000000;
            font-size: 1rem;
            line-height: 22px;
            text-decoration: none;
          }
        }
      }
    }

    .discover-more {
      border-bottom: 2px solid #35312E;
      border-top: 2px solid #35312E;
      margin-bottom: 54px;
      padding: 38px 0 34px;

      .container {
        padding: 0 1rem;
      }

      .sub-title {
        font-family: 'TT Norms';
        font-style: normal;
        font-weight: 400;

        color: #35312E;
        font-size: 1rem;
        line-height: 24px;
        margin-bottom: 18px;
        text-transform: capitalize;
        text-align: center;
      }

      .article-card {
        @include grid-media($blavity-grid-default-configuration) {
          @include grid-column(4);
        }
      }
    }
  }
}
