@import '~/stylesheets/common/_shared.scss';

.sponsored-campaign-component {
    display: flex;
    flex-direction: column;
    height: 85rem;
    background-color: #ECF0F4;

    &__title {
        order: 1;
        text-align: center;
        margin-top: 4rem;
        font-family: 'TT Norms';
        font-size: 1.125rem;
        letter-spacing: 1px;

        @include grid-media($blavity-grid-desktop-configuration) {
            margin-top: 6.25rem;
        }
    }

    &__logo {
        order: 2;
        align-self: center;
        margin-top: 1.5rem;
        width: 350px;

        @include grid-media($blavity-grid-desktop-configuration) {
            margin-top: 2rem;
          }

        img {
            transform: scale(.5) translate(-45%, -40%);

            @include grid-media($blavity-grid-desktop-configuration) {
                transform: scale(1) translate(-25%, -10%);
            }
        }
    }

    &__pent-tile {
        order: 3;
        align-self: center;
        margin: 0 0 0 0;

        @include grid-media($blavity-grid-desktop-configuration) {
            margin: 3rem 0 6rem 0;
        }
    }
}
