@import '~/stylesheets/common/_shared.scss';

.videos-header {
  background-color: #35312E;

  @include grid-media($blavity-grid-desktop-configuration) {
    padding-top: 4rem;
  }
  .video-title {
    color: ghostwhite;
  }

  img {
    max-width: 100%;
  }

  .container {
    padding-left: 25px;
    padding-right: 25px;

    @include grid-media($blavity-grid-mobile-configuration) {
      padding-left: 25px;
      padding-right: 25px;
    }

    @include grid-media($blavity-grid-tablet-configuration) {
      padding-left: 3rem;
      padding-right: 3rem;
    }

    @include grid-media($blavity-grid-desktop-configuration) {
      padding-left: 6rem;
      padding-right: 3rem;
    }

    @include grid-media($blavity-grid-large-display-configuration) {
      padding-left: 6rem;
      padding-right: 6rem;
    }
  }

  .grid-container {
    @include grid-container();
  }

  .grid-row {
    @include grid-container();

    display: flex;
    flex-wrap: wrap;

    @include grid-media($blavity-grid-default-configuration, $blavity-grid-mobile-configuration, $blavity-grid-tablet-configuration, $blavity-grid-desktop-configuration, $blavity-grid-large-display-configuration) {
      @include grid-collapse();
    }
  }

  .section-title {
    @include blavity-use-font-tt-norms-light();

    font-size: 1.5rem;
    font-weight: 400;
    margin-bottom: 2rem;
    text-align: center;

    @include grid-media($blavity-grid-desktop-configuration) {
      font-size: 2rem;
    }
  }
  .small-card-container {
    margin-bottom: 1rem;
  }
  .large-card-container {
    @include grid-media($blavity-grid-desktop-configuration, $blavity-grid-large-display-configuration) {
      @include grid-column(8);
    }

  }
  .side-container {
    @include grid-media($blavity-grid-desktop-configuration, $blavity-grid-large-display-configuration) {
      @include grid-column(4);
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      h3{
        @include blavity-use-font-tt-norms-light()
        font-size: 1.2rem;
        color: lightgrey;
        margin-bottom: 1rem;
      }
      .ad-300by250{
        min-width: 100%;
        min-height: 300px;
        border-bottom: 2px solid rgba(lighten(grey, 20%), .1);
        padding-bottom: 1.5vw;
        display: flex;
        justify-content: center;
      }
      .title{
        @include grid-media($blavity-grid-desktop-configuration, $blavity-grid-large-display-configuration) {
          @include grid-column(12);
        }
        @include blavity-use-font-tt-norms-light();
        padding-top: .5rem;
        font-weight: 100;
        color: lighten(lightgrey, 50%);
        font-size: 2vw;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 100%;
        span{
          align-self: center;
          display: block;
        }

      }
    }

  }
  .small-card__container {
    border-top: 2px solid rgba(lighten(grey, 30%), .1);
    padding-top: 2rem;
    padding-left: 4rem;
    padding-right: 6rem;
    &--mobile{
      padding-bottom: 2rem;
    }
  }

  .small-card-container__slick {
    padding: 2px;
    .video-small-card__mobile {
      height: 130px;
        .thumb-container{
          height: 130px;
          img{
            height: 100%;
          }
        }
        .video-title{
          display: none;
        }
        .tags-container {
          display: none;
        }
        h3{
          font-size: .9rem!important;
        }
    }

  }

  .videos-header__mobile {
    margin-left: -25px;
    margin-right: -25px;
    margin-bottom: 2rem;

    @include grid-media($blavity-grid-mobile-configuration) {
      margin-left: -25px;
      margin-right: -25px;
    }

    @include grid-media($blavity-grid-tablet-configuration) {
      margin-left: -3rem;
      margin-right: -3rem;
    }

    .slick-list {
      padding-left: calc(25px - .5rem);

      @include grid-media($blavity-grid-mobile-configuration) {
        padding-left: calc(25px - .5rem);
      }

      @include grid-media($blavity-grid-tablet-configuration) {
        padding-left: calc(3rem - .5rem);
      }
    }

    .slick-slide {
      width: 75vw;
    }
  }

  .videos-header__desktop {
    margin-bottom: 3rem;

    .video-small-card {
      margin-bottom: 1rem;
      padding-bottom: 1rem;
      min-width: 15.75vw;

      &:not(.video-small-card__active) {

      }
    }
  }

  .btn-link {
    @include blavity-use-font-tt-norms-light();

    border: 2px solid #000000;
    color: #000000;
    display: block;
    margin: 0 auto;
    max-width: 320px;
    padding: 1rem 0;
    text-align: center;
    text-decoration: none;

    .right-arrow {
      margin-left: .75rem;
    }
  }
}
@include grid-media($blavity-grid-desktop-configuration) {
  .slick-arrow {
    color: transparent;
    position: absolute;
    background-color: transparent;
    border: none;
    cursor: pointer;
    transform: translateY(-50%);
    z-index: 1000;
    top: 37.5%;

    &:after {
      width: 2rem;
      color: white;
    }

    &.slick-prev {
      left: -6rem;
      top: 36%;
      width:4rem;
      background: url('https://storage.googleapis.com/blavitynews/images/icons8-right-arrow-24.png');
      transform: rotateY(180deg);
      background-repeat: no-repeat;
      background-size: contain;
      object-fit: contain;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    &.slick-next {
      right: -6rem;
      width:4rem;
      background: url('https://storage.googleapis.com/blavitynews/images/icons8-right-arrow-24.png');
      background-repeat: no-repeat;
      background-size: contain;
      object-fit: contain;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    &:focus,
    &:hover {
      outline: none;
    }
  }
}
